<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ar.mapper.ClassifyMapper">
    <resultMap id="BaseResultMap" type="cn.ar.entity.Classify">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="customerCode" jdbcType="VARCHAR" property="customerCode"/>
        <result column="projectCode" jdbcType="VARCHAR" property="projectCode"/>
        <result column="basePicCode" jdbcType="VARCHAR" property="basePicCode"/>
        <result column="classCode" jdbcType="VARCHAR" property="classCode"/>
        <result column="className" jdbcType="VARCHAR" property="className"/>
        <result column="classIntroduce" jdbcType="VARCHAR" property="classIntroduce"/>
        <result column="classSequence" jdbcType="INTEGER" property="classSequence"/>
        <result column="addTime" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="enable" jdbcType="BIT" property="enable"/>
        <result column="activity" jdbcType="BIT" property="activity"/>
        <result column="createrCode" jdbcType="VARCHAR" property="createrCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        customerCode, projectCode, basePicCode, classCode, className, classIntroduce,
    classSequence
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.ar.entity.Classify" useGeneratedKeys="true">
        insert into classify (customerCode, projectCode, basePicCode,
                              classCode, className, classIntroduce,
                              classSequence, addTime, updateTime,
                              `enable`, activity, createrCode)
        values (#{customerCode,jdbcType=VARCHAR}, #{projectCode,jdbcType=VARCHAR}, #{basePicCode,jdbcType=VARCHAR},
                #{classCode,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{classIntroduce,jdbcType=VARCHAR},
                #{classSequence,jdbcType=INTEGER}, now(),
                null, true, true, #{createrCode,jdbcType=VARCHAR})
    </insert>
    <insert id="insertClassifyList">
        insert into classify (customerCode, projectCode, basePicCode,
        classCode, className, classIntroduce,
        classSequence, addTime, updateTime,
        `enable`, activity, createrCode)
        values
        <if test="classifyList.size()>0">
            <foreach collection="classifyList" item="item" separator=",">
                (#{item.customerCode,jdbcType=VARCHAR}, #{item.projectCode,jdbcType=VARCHAR}, #{item.basePicCode,jdbcType=VARCHAR},
                #{item.classCode,jdbcType=VARCHAR}, #{item.className,jdbcType=VARCHAR}, #{item.classIntroduce,jdbcType=VARCHAR},
                #{item.classSequence,jdbcType=INTEGER}, now(),
                null, true, true, #{item.createrCode,jdbcType=VARCHAR})
            </foreach>
        </if>
    </insert>
    <select id="checkRepeat" resultType="cn.ar.entity.Classify">
        select
        <include refid="Base_Column_List"/>
        from classify
        where customerCode = #{customerCode}
        and projectCode = #{projectCode}
        and classCode = #{classCode}
        and activity = true
        and enable = true
    </select>
    <select id="selByCodeShow" resultType="cn.ar.entity.Classify">
        select
        <include refid="Base_Column_List"/>
        from classify
        where basePicCode = #{basePicCode}
        and customerCode = #{customerCode}
        and projectCode = #{projectCode}
        and activity = true
        and enable = true
    </select>
    <select id="selClassifyList" resultType="cn.ar.entity.Classify">
        select
        <include refid="Base_Column_List"/>
        from classify
        where customerCode = #{customerCode}
        and projectCode = #{projectCode}
        and basePicCode = #{basePicCode}
        and activity = true
        and enable = true
    </select>
</mapper>